<div>
    <h1>Todos los productos:</h1>
    {{#each products}}
    <div class="containerHome">
        <h2 style="color: rgb(82, 69, 168)">{{this.title}}</h2>
        <h3>Descripción: {{this.description}}</h3>
        <h3>Código: {{this.code}}</h3>
        <h3>Categoría: {{this.category}}</h3>
        <h3>Piezas disponibles: {{this.stock}}</h3>
        <h3>Precio: ${{this.price}}</h3>
        <!--con esto se comneta -->
        {{#each this.thumbnail}}
        <img style="width: 20%;" src="/img/{{this}}" alt="{{../title}}"></img>
        {{/each}}
    </div>
    {{/each}}
</div>